@charset "UTF-8";
/*estilos para impressoras*/
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article{
    width: 100%;
}
article::after{/*essa tag usamos para a mensagem no final so na parte de imprimir*/
    content:"esse artigo foi escrito por marcio" ;
}